.formCard {
  width: 60vw;
  /* background-color: red; */
  margin: 20px auto;

  /* height: 90vh; */
  padding: 20px;
  box-shadow: 0 5px 15px gray;
  border-radius: 20px;
  /* position: absolute; */
}
.formCard h1 {
  text-align: center;
}
.formCard section {
  margin: 10px auto;
  width: 452px;
  /* border:3px solid gray; */
  text-align: center;
}

.formCard section a {
  color: #0070c9;
  text-decoration: none;
  cursor: pointer;
}
.formCard section a::after {
  content: ">>";
}

.formCard section a:hover {
  text-decoration: underline;
}
hr {
  width: 70%;
  margin: 15px auto;
  height: 0.01rem;
  background-color: #999;
}

.formCardContainer {
  width: 500px;
  /* height:50vh; */
  margin: 10px auto;
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: -10px;
  background: transparent;
}

.formCardContainer #email,
.formCardContainer2 #password {
  display: inline-block;
}

.formTextBox {
  height: 40px;
}

.radioGroup {
  display: inline-flex;
}

/* btn */
.bn5 {
  /* width: 100%; */
  padding: 20px 50px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #ed7501;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-weight: bold;
  font-size: larger;
}

.bn5:before {
  content: "";
  background-color: #ec8a2f; 
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowingbn5 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowingbn5 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.bn5:active {
  color: #ed7501;
}

.bn5:active:after {
  background: transparent;
}

.bn5:hover:before {
  opacity: 1;
}

.bn5:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ed7501;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.Checkbox {
  margin-left: -5px;
}
