.blur{
    position: absolute;
    top: 0;
    height: 160vh;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0,0.5);
}
.section{
    width:800px;
    height:640px;
    background:#fff;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius:5px;
    z-index: 100;
}
.icon{
    position:absolute;
    top: 0px;
    right:0px;
    border-radius: 0 5px 0 0;
    background-color: crimson;
    color: white;
    padding:8px;
    cursor: pointer;
}
.icon:hover{
    background-color: rgba(220, 20, 60,0.9);
}
.article{
   
}
.article h1{
    font-size:24px;
    /* background: rgb(111, 227, 192); */
    box-shadow: 0px 1px 1px gray;
    color:white;
    width: 100%;
    /* margin: 0; */
    border-radius: 5px 5px 0px 0px;
}
/* .div{
    width:800px;
    height:530px;
    display: flex;
   line-height:3px;
   margin-right:300px;
   margin-left: 50px !important;
   justify-content: center;
}
.div label{
  font-size:13px; 
  color: black; 
}
.div input{
    width: 350px;
    height:15px;
    border-radius:4px;
    border: none;
    outline: 1px solid gray;
    border-radius: 2px;
    padding-left: 5px;
} */
.btn{
    display:flex;
    align-items:center;
    justify-content:center;
    position: absolute;
    right:325px;
    margin-top: 30px;
    width:160px;
    height:35px;
    padding:5px;
    font-weight: 600;
    background-color: rgb(48, 53, 190);
    color: white;
    border-radius: 8px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgba(48, 53, 190,0.9);
}


/* mui */


.formCardContainer {
  width: 500px;
  /* height:50vh; */
  margin: 10px auto;
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: -10px;
  background: transparent;
}