.container {
  /* position: absolute;
  top: 2rem;
  left: -50%;
  background-color: #efefef;
  color: black;
  z-index: 1000 !important;
  padding: 0.8rem;
  border-radius: 0.2rem; */
  display: none;
}
.container2 {
  position: absolute;
  top: 2.5rem;
  right: -5rem;
  background-color: #e7ecf7;
  color: black;
  z-index: 1000 !important;
  padding: 0.8rem;
  border-radius: 0.2rem;
}
.arrowup {
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid #e7ecf7;
  position: absolute;
  top: -5px;
  left: 4px;
}
.arrowup2 {
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid #e7ecf7;
  position: absolute;
  top: -5px;
  left: 8rem;
}
.dropList:hover {
  background: #dee9ff;
  cursor: pointer;
}
