img {
  object-fit: scale-down;
}
.prdouctPage {
  min-height: 80vh;
}
.headingCard {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  border-top: 1px solid #efefef;
}

.sectionCard {
  width: 90%;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.priceInfo {
  font-family: Arial, Helvetica, sans-serif;
  color: #2b2a2a;
  font-weight: 700;
  word-spacing: 2px;
  margin-right: 9rem;
}

/* product info card */
.productInfoImgContainer {
  width: 90%;
  /* background-color: aqua; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
  height: fit-content;
  margin: 0 auto;
  gap: 5rem;
}
.infoCard {
  width: 550px;
  /* height: 60vh; */
  /* float: right; */
  /* position: absolute; */
  /* background-color: black; */
  /* margin-top: 60px; */
  right: 15%;
  padding: 20px;
}

.imageCard {
  /* width: 500px; */
  /* position: absolute; */
  /* background-color: rgba(255, 0, 0, 0.313); */
  margin-top: 60px;
  padding: 20px;
  height: 60vh;
}

.h1Title {
  /* margin-left: -100px; */
  width: 100%;
  text-align: left;
  margin: 0.6rem;
}

.supScript {
  background-color: rgb(62, 74, 249);
  border-radius: 15%;
  font-size: small;
  /* top:-10px; */
  padding: 3px;
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
  font-weight: 100;
}

.offerDetails {
  max-width: 250px;
  color: #0066cc;
  font-size: 20px;
  /* margin-top: 35px; */
  text-align: left;
}
.offerDetailsContainer {
  border-bottom: 2px solid;
  height: 60px;
}
.starIcon svg {
  height: 30px;
  width: 30px;
}
.priceTag,
.ratingstag {
  color: rgb(240, 3, 3);
}
.ratingstag {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
}
.chip {
  margin-top: 3px;
  padding: 2px;

  fill: #1d2c4e;
  color: white;
}
.supScriptPriceTag {
  background-color: rgb(62, 74, 249);
  border-radius: 15%;
  font-size: 8px;
  /* top:-10px; */
  padding: 1px;
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
  font-weight: 100;
}

.btnContainer {
  /* border:2px solid red; */
  margin-top: 20px;
  /* padding: 10px; */
  width: 310px;
}

.addToCart {
  padding: 5px;
  /* border: 1px solid blak; */
  color: white;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s linear;
  background-color: #ffb452;
  width: 100%;
  margin-top: 5px;
}

.addToCart:hover {
  color: white;
  background-color: #fe9000;
  /* color: var(--text-secondary); */
  box-shadow: 0 0 2px black;
}

.buyNow {
  padding: 5px;
  border: 1px solid #f8981c;
  color: #f8981c;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.1s linear;
  background-color: white;
  width: 100%;

  margin-bottom: 5px;
}

.buyNow:hover {
  background-color: #f8981c;
  box-shadow: 0 0 2px black;

  color: white;
}

.accordion {
  margin-top: 10px;
}

/* product image card */

.imgContainer {
  width: 350px;
  height: 350px;
  /* border:2px solid gray; */
  margin: 0 auto;
  /* margin-top: 50px; */
}

.imgCardFooterCard {
  margin-top: 20px;

  /* border: 2px solid green; */
  padding: 3px;
  display: flex;
  /* width:150px; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: green;
  /* text-shadow: 0 2px 5px green; */
  /* background-color: orange; */
  font-weight: 700;
}

/* detailed description */

.detailDescription {
  /* border: 2px solid red; */
  height: 150px;
  width: 75%;
  margin: 0 auto;
  padding: 15px;
  margin-top: 1rem;
}
.detailDescription h4 {
  margin-top: 0.8rem;
}

.detailDescription summary h4 {
  max-width: 60%;
  text-align: justify;
  /* color: red */
}

.heading {
  margin-left: 5rem;
  width: 40%;
}
.starHeading {
  margin-bottom: 20px;
}
.starAccordion {
  margin: 20px 0;
  width: 70%;
  border: none;
}
.ratingsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.productRatings {
  width: 100%;
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
  column-gap: 15px;
}
.productRatings p {
  font-weight: 600;
}
.progressBar {
  height: 40px;
  width: 60%;
}
.seeAllReviews {
  border-top: 1px solid #ddd;
  width: 100%;
  text-align: center;
  padding: 20px;
}
